
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
body{
background-color: white;
font-family: "Montserrat",sans-serif;
font-weight: 400;
letter-spacing: -0.2px;
color: #;

}

a{

    color: rgba(71,190, 199, 0.75);
    
}
a:hover{
color: #848d96;

}
li a{
font-size: 1rem;
padding: 0.25rem;
color: white;

}
ul{

    float: right;
}
.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
    float:right;
  }
  navbar-nav > li{
    margin-left:5px;
    margin-right:5px
  }
  .container-fluid {
    padding-right:0;
    padding-left:0;
    
   
 }
 .text-uppercase{

    margin-left: 2rem;
    margin-top: 2rem;
 }
 .aw-bio{

    margin-left: 2rem;
    font-size: 1.25rem;
 }
 html {
    scroll-behavior: smooth;
  }
  
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: darkblue;
   color: white;
   text-align: center;
}
.container-fluid
{
position: fixed;
left: 0;
width: :100%;

}
table { margin: 0 auto; }
